{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "document": true,
    "window": true,
    "process": true
  },
  "plugins": ["jest"],
  "env": {
    "jest/globals": true
  },
  "rules": {
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "react/jsx-filename-extension": 0,
    "linebreak-style": 0,
    "react/destructuring-assignment": "off",
    "react/prop-types": "off",
    "react/jsx-one-expression-per-line": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "import/newline-after-import": "off",
    "react/react-in-jsx-scope": "off",
    "semi": ["error", "never"],
    "comma-dangle": ["error", "never"],
    "arrow-parens": ["error", "as-needed"]
  }
}
